<div class="container">
  <div class="page-header">
    <h1>Users</h1>
    <p class="lead">Cask users on GitHub</p>
  </div>

  <% @users.each do |user| %>
    <div class="media">
      <%= link_to(user, class: "media-left") do %>
        <%= image_tag(user.avatar_url, alt: user.login, style: "width: 48px; height: 48px;") %>
      <% end %>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to user.login, user %>
        </h4>
        <%= user.name %>
      </div>
    </div>
  <% end %>
  <%= paginate @users %>
</div>
