<div class="container">
  <div class="page-header">
    <h1>
      <%= image_tag@user.avatar_url, alt: @user.login, style: "width: 80px; height: 80px;" %>
      <% if @user.name.blank? %>
        <%= @user.login %>
      <% else %>
        <%= @user.name %> <small><%= @user.login %></small>
      <% end %>
    </h1>
  </div>

  <dl>
    <dt>URL</dt>
    <dd><%= link_to @user.url, @user.url %></dd>
  </dl>

  <h3>Packages (<%= @packages.count %>)</h3>
  <ul>
    <% @packages.each do |package| %>
      <li><%= link_to package.name, package %></li>
    <% end %>
  </ul>
</div>
